body {
  padding: 50px;
  background: #eee;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

.header {
    width: 100%;
    height: 56px;
    padding: 18px;
    float: left;
    box-sizing: border-box;
}

.header a{
    /* padding: 18px; */
    height: 18px;
    width: 31px;
    color: #777 !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header span{
    padding-left: 18px;
    /* color: #777 !important; */
}

.mdl-card {
  position: absolute !important;
  bottom: 0 !important;
  width: calc(100% - 24px) !important;
  margin: 12px !important;
}

.mdl-layout__drawer-button {
  color: rgba(0,0,0,0.87);
}

#searchbar {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 18px;
  padding: 8px 8px 8px 50px;
  margin: 12px;
  width: calc(100% - 82px);
}

.mdl-layout__drawer-button {
  margin: 8px 0px 0px 13px !important;
}

/* Accordian buttons for past sessions*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
   /* background-color: #eee; */
   background-color: white;
   color: #777;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
   background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
   padding: 18px;
   /* background-color: white; */
   background-color: #eee;
   display: none;
   overflow: hidden;
}

div.panel p {
    color: #777 !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.panel h6 {
    font-size: 14px !important;
    font-weight: bold !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

div.panel br{
    line-height: 10px !important;
}
