body {
  padding: 50px;
  background: #eee;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Map Screen page ===================================================================================================================== */
#map {
  height: 100%;
  width: 100%;
}

/* Popup card on map screen */
#card{
    display: none;
}

.header {
    width: 100%;
    height: 56px;
    padding: 18px;
    float: left;
    box-sizing: border-box;
}

.header a{
    height: 18px;
    width: 31px;
    color: #777 !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header span{
    padding-left: 18px;
}

.mdl-card {
  position: absolute !important;
  bottom: 0 !important;
  width: calc(100% - 24px) !important;
  margin: 12px !important;
}

.mdl-layout__drawer-button {
  color: rgba(0,0,0,0.87);
}

#searchbar {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 18px;
  padding: 8px 8px 8px 50px;
  margin: 12px;
  width: calc(100% - 82px);
}

.mdl-layout__drawer-button {
  margin: 8px 0px 0px 13px !important;
}

.mapTagContainer {
    display: inline-block;
}

#mapPrice, #mapAvailability, #mapParkType {
    display: inline-block;
}

#mapLocation {
    display: block;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 18px;
}

/* All menu pages ===================================================================================================================== */
.menuButton {
    background-color: white;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

.menuButton:hover {
   background-color: #ccc;
}

/* Past sessions page ===================================================================================================================== */
/* Accordian buttons for past sessions*/
.wholeAcc {
    display: inline-block;
    height: 60px;
    width: 100%;
    position: inherit;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
   background-color: white;
   color: #777;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
   box-sizing: border-box;
   display: inline-block;
   position: absolute;
   left: 0px;
   /* position: relative; /* To get review button alignment right */ */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
   background-color: #ccc;
}

/* Visible labels for past session accordions */
.accordion p.accordLabel {
    padding: 0px !important;
    margin: 0px !important;
    /* Accordian text ellipsis */
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    width: 190px !important;
}

/* Review button in accordion */
.wholeAcc .reviewButt {
    display: inline !important;
    position: relative !important;
    left:218px !important;
    top: 18px !important;
    width: 80px !important;
    z-index: 9999 !important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
   padding: 18px;
   /* background-color: white; */
   background-color: #eee;
   display: none;
   overflow: hidden;
}

/* Panels for past sessions */
div.panel p {
    color: #777 !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.panel h6 {
    font-size: 14px !important;
    font-weight: bold !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

div.panel br{
    line-height: 10px !important;
}

div.panel p#location {
    width: 10px !important;
}

/* Reviews page ===================================================================================================================== */
.reviewDivElement {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: white;
}

.reviewReviewElement {
    margin-bottom: 0px;
}

/* Review page ===================================================================================================================== */
#reviewTextArea {
    width: calc(100% - 36px);
    margin: 18px;
    height: 200px;
    box-sizing: border-box;
}

/* Pay page ===================================================================================================================== */
#hours, #minutes {
    display: inline-block;
}

#hoursNum, #hoursWord, #minutesNum, #minutesWord {
    display: inline-block;
    margin: 0px;
}

#hoursNum, #minutesNum {
    padding-left: 12px;
}

.costP {
    display: inline-block;
    margin: 0px;
}

/* Dropdown Button */
.dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
}

/* Copied from */
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
