body {
  padding: 50px;
  background: #eee;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  height: 100%; 
  width: 100%;
}

.mdl-card {
  position: absolute !important;
  bottom: 0 !important;
  width: calc(100% - 24px) !important;
  margin: 12px !important;
}

.mdl-layout__drawer-button {
  color: rgba(0,0,0,0.87);
}

#searchbar {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 18px;
  padding: 8px 8px 8px 50px;
  margin: 12px;
  width: calc(100% - 82px);
}

.mdl-layout__drawer-button {
  margin: 8px 0px 0px 13px !important;
}
